<div class="layout">
    <div class="container d-flex flex-column">
        <div class="row align-items-center justify-content-center no-gutters min-vh-100">
            <div class="col-12 col-md-5 col-lg-4 py-8 py-md-11">
                <!-- Heading -->
                <h1 class="font-bold text-center">Iniciar Sesión</h1>
                <!-- Text -->
                <p class="text-center mb-6">Bienvenido a nuestro chat real time.</p>
                <!-- Form -->
                <form class="mb-6" [formGroup]="formLoginIn" (ngSubmit)="loginForm()">
                    <!-- Email -->
                    <div class="form-group">
                        <label for="email" class="sr-only">Correo Electrónico</label>
                        <input type="email" class="form-control form-control-lg" id="email"
                            placeholder="Correo Electronico" formControlName="email" required>
                    </div>
                    <!-- Password -->
                    <div class="form-group">
                        <label for="password" class="sr-only">Contraseña</label>
                        <input type="password" class="form-control form-control-lg" id="password"
                            placeholder="Contraseña" formControlName="password" required>
                    </div>
                    <div class="form-group d-flex justify-content-between">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" checked="" id="checkbox-remember">
                            <label class="custom-control-label" for="checkbox-remember">Recordarme</label>
                        </div>
                        <a href="./password-reset.html">Olvidaste tu cuenta?</a>
                    </div>
                    <!-- Submit -->
                    <button class="btn btn-lg btn-block btn-primary" type="submit">Ingresar</button>
                </form>
                <!-- Text -->
                <p class="text-center">
                    No tiene una cuenta? <a routerLink="/registro">Registrate</a>.
                </p>
            </div>
        </div> <!-- / .row -->
    </div>
</div><!-- .layout -->